@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    transition-duration: 0.2s;
}


body {                
    background-image: url("/assets/png/bgPattern.png");
    background-color: orangered;
    background-size: contain;
    object-fit: cover;
        
    box-sizing: border-box;    
}

body::-webkit-scrollbar{
    width: 0.7rem;
}

body::-webkit-scrollbar-track{
    background-color: #2b2d31;
}

body::-webkit-scrollbar-thumb{
    background-color: #ff2600;
    border-radius: 1rem;
}

.Darkbody{
    background-image: url("/assets/png/bgPatternDark.png");
    background-color: #2b2d31;
    background-size: contain;
    object-fit: cover;
        
    box-sizing: border-box;    
}


.loading-logo-align{
    position: absolute;
    left: 40%;
    margin-top: 3%;
}

.logo-circle{    
    box-shadow: 22px 22px 43px #a4301b;
}

.imgBG{
    background-image: url(https://res.cloudinary.com/dh39ahmpj/image/upload/c_thumb,w_2844,h_718,g_auto/v1695040147/Cad%C3%AA%20Meu%20Rango/banner_utjdxx.png);
    background-size: cover;
    object-fit: cover;
}


.imgBGDARK{
    background-image: url(https://res.cloudinary.com/dh39ahmpj/image/upload/c_thumb,w_2844,h_718,g_auto/v1695040152/Cad%C3%AA%20Meu%20Rango/bannerDark_fwh1gr.png);
    background-size: cover;
    object-fit: cover;
}

.titleBanner{
    position: absolute;
    left: 5%;
    right: 5%;
    padding: 2rem;
    text-align: center;
    user-select: none;
}

.titleBanner>h1,
.titleBanner>h3 {
    text-shadow: 0px 4px 4px #000000;
}

.GalleryIMG{
    width: 850px;
    height: 300px;
    object-fit: cover;
    border-radius: 1rem 0rem 1rem 0rem;  
}

.customBorder{
    border-radius: 1rem 0rem 1rem 0rem; 
}

.customIMG-size{      
    height: 10rem;
    width: 40.5rem;
    object-fit: cover;
}
    
.carouselAbsolute{
    width: 850px;
}

.ListIMG{
    display: flex;
}


.ListIMG>img{
    object-fit: cover;     
    border-radius: 1rem 0px 1rem 0px;
}

.UserIMG{
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
}

.UserIMGLite{
    max-width: 20px;
    max-height: 20px;
    object-fit: cover;
}


.iconW{
    width: 100px;
    height: 25px;
}

@media screen and (min-width: 320px ) and (max-width: 500px ) {
    .mediaText{
        display: none;
    }

    .backButtonHidden{
        position: absolute;
        left: 1rem;
        top: 6rem;
    }

    .darkModeComponentProps{
        position: absolute;
        right: 1rem;
        top: 6rem;
    }
}