.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.6720rem;
}

button.buttonDif{
    padding-left: 4.1800rem;
    padding-right: 4.1800rem;

    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ;     
    
}

a{
    transition: 0.5s;
}

a:hover{
    color: #0a0403;    
}

.CadDiv{
    margin-top: 1.2540rem;
    text-align: center;
}

.CardLogin{    
    width: 41.8000rem;
    margin-top: 1.2540rem;

    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ;     
}

.CardCadastro{    
    width: 41.8000rem;

    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ;     
}

.CardDiv{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 4.1800rem;
    top: 4.1800rem;
}

.FormularioLogin{
    margin-top: 1.2540rem;    
    padding-left: 9.1960rem;
    padding-right: 9.1960rem;
}


#termos{        
    text-align: center;
    margin-top: 1.2540rem;
}

#checkTermos{
    position: absolute;
    right: 25.9160rem;

    border: 1px solid #0a0403;
}

#name{
    background-color: #ECE7E7;;
}

#email{
    background-color: #ECE7E7;;
}

#password{
    background-color: #ECE7E7;;
}