#homeSection{
    display:flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;    
    width: 100%;
    height: 100%;        
}

.line{    
    width: 100%;
    height: 0.1672rem;
    background-color: #000000;
    margin-bottom: -0.0836rem;
}

#Title{
    text-decoration: underline;
    text-decoration-thickness: 0.03125rem;
    text-underline-offset: 0.3125rem;
}

.ButtonDiv{
    position: absolute;
    right: 1.6720rem;    
    margin-bottom: 4.1800rem;
}

h4.subtitle{
    font-size: 1.1704rem;
}

.subtitlesDiv{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    user-select: none;    
    
    margin-left: 15.8840rem;        
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-tabs{
    margin: 0.8360rem;
    gap: 0.4180rem;    
}

.custom-tabs .nav-pills .nav-link {
    color: #0d0d13;    
}

.custom-tabs .nav-link.active{
    background-color: #ff5732;
    color: white;
}

.custom-tabs .nav-link:hover{
    
}

.UlRow{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1.2540rem;
    user-select: none;
}

.UlRow li img {
    transition: 0.5s;
    cursor: pointer;
}

.UlRow li img:hover{
    transform: scale(1.1);
}


#githubImg{
    height:4.5980rem;
}

.NavTabs{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 3.7620rem;
    margin-top: -1.4212rem;
    margin-bottom: 1.2540rem;

    border-radius: 0pt 0pt 5pt 5pt;
}

#receitaBorder{
    border-radius: 15pt 15pt 15pt 15pt;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)  ; 
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)  ; 
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)  ; 
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .break-line-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    list-style: none;    
}

.break-line-list-Blank{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
    list-style: none;
}

}

.break-line-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;    
    margin: 0;
    scale: 0.98;
    max-height: 24.2440rem;
}

.break-line-list-Blank{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 15pt;
    padding: 0;    
    margin: 0;
    scale: 0.98;
    max-height: 24.2440rem;
}

#listOverflow::-webkit-scrollbar {
    width: 0.5em;    
}

#listOverflow::-webkit-scrollbar-track {
    background-color: #ffffff;    
}

#listOverflow::-webkit-scrollbar-thumb {
    background-color: #727272;    
}

