
/* Card */
.cardHover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5400rem;    
    transition: 0.5s;   
    
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ;     
}

.cardList{
    display: flex;    
    flex-wrap: wrap;        
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2540rem;
    margin-top: 1.2540rem;       

    user-select: none;
}

.cardBlank{
    height: 12.5400rem;
    width: 10.0320rem;
}

.BlankTitleDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 20.9000rem;
    margin: 0.4180rem;
    padding: 0.4180rem;    
}


/* Receita */
.exitDiv{         
    position: absolute;
    margin:0.4180rem;
    margin-left: 1.2540rem;
}

#TitleDiv{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 20.9000rem;
    margin: 0.4180rem;
    padding: 0.4180rem;
}

#TitleDiv h5 {
    margin-bottom: 1.2540rem;
}


.TitleLines{
    text-decoration: underline;
    text-decoration-thickness: 0.03125rem;
    text-underline-offset: 0.3125rem;    
}

.listItem{
    display:flex;
    flex-direction: row;
    gap: 0.4180rem;
}

.ingredient{
    display: flex;
    margin-top: -0.2090rem;    
}

/* SectionLeft */
.DetailsLeft{
    display: flex;
    flex-direction: column;    
    margin: 0.4180rem;    
}

/* SectionRight */
.DetailsRight{
    display: flex;
    flex-direction: column;
    margin: 0.4180rem;    
}

.ReceitaImg{
    display: flex;
    width: 12.5400rem;
    margin: 1.2540rem;
    border-radius: 1.2540rem;
}

.blankImg{    
    width: 12.5400rem;
    height: 5.8520rem;    
    margin-bottom: 1.2540rem;
}

#deleteBtn{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 10.0320rem;
}

.modeNumber{
    margin-top: -5pt;
}

.ConfirmButton{
    color: green;
    transition: 0.5s;
}

.ConfirmButton:hover{
    color: #00FF00;
    scale: 1.1;
    transition: 0.5s;
    cursor: pointer;
}