.container-culinary{
    display: flex;
    flex-direction: column;
    user-select: none;

    scale: 0.9;    
}

.container-culinary img{
    display: flex;
    flex-direction: column;    
    align-items: end;
    margin-left: 250pt;
    margin-bottom: -5pt;
    
    width: 70px;
}

.container-culinary h1{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40pt;
    
}

.container-culinary .TitleSubtitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 100%;     
    margin-bottom: 15pt;    
        
    background-image: url('/assets/img/banner.png');        
    background-size: cover;

    transition: 1.5s;
}