.errorCard{
    display: flex;
    flex-direction: column;

    background-color: #6b6b6b;

    color: aliceblue;

    margin-top: 15rem;
    padding: 50pt;
    
    margin-right: 30rem;
    margin-left: 30rem;
    
    justify-content: center;
    align-items: center;

    border-radius: 15pt;    

}

.errorCard a{
    color: aliceblue;
    
}