#badgeDev{
    position: absolute;
    top: 0.4180rem;    
    left: -2.9260rem;
    width: 10.8680rem;
    rotate: -45deg;

    border-radius: 0;
}

#badgeDev h2{    
    margin: 0.4180rem;
    padding-left: 0.4180rem;
    padding-right: 0.4180rem;    
}