#badgeDev{
    position: absolute;
    top: 5pt;    
    left: -35pt;
    width: 130pt;
    rotate: -45deg;

    border-radius: 0;
}

#badgeDev h2{    
    margin: 5pt;
    padding-left: 5pt;
    padding-right: 5pt;    
}