#bookRecipeImg{
    width: 12.5400rem;
}

#containerBook{
    width: 15.8840rem;
}

#recipeList{
    display: flex;
    flex-direction: row;
    gap: 0.1672rem;   
}

#recipeList li{
    list-style: none;
    transition: 0.5s;    

    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3)  ;     
}

#recipeList li:hover{
    transform: scale(1.1);
}