.custom-tabs{
    gap: 1rem;
}

.nav-link{
    color: #0d0d13;
}

.nav-linkDark{
    color: #ffffff;
}


.custom-tabs .nav-link.active {
    background-color: #ff5732;
    color: white;
    border-color: #00000000;
}

.custom-tabs .nav-link:hover {
        border-color: #000000;
        color: #ff5732; 
}