
@media screen and (min-width: 400px ) and (max-width: 768px ) {
    #RecipeContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vh;
    }
}

@media screen and (min-width: 320px ) and (max-width: 375px ) {
    #RecipeContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vh;
    }
}