.Darkbody{
    background-color: #2b2d31;
    height: 100vh;
    box-sizing: border-box;  
    
    background-image: url(/assets/img/bgPatternDark.png);
    background-size: 20%;    
}

.Darkbody::-webkit-scrollbar {
    width: 0.5rem;    
}

.Darkbody::-webkit-scrollbar-track {
    background: #1e1e24;    
}

.Darkbody::-webkit-scrollbar-thumb {
    background: #FD6543;    
    border-radius: 0.5rem;    
}

.DarkSection{
    background-color: #2e3035;    
}

.DarkFooter{
    background-color: #2b2d31;
    color: aliceblue;
}

.DarkTxt{
    font-family : 'Rubik', sans-serif;        
    font-weight: 300;
    color: aliceblue;
}

.DarkSubtitle {
    font-family : 'Rubik', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.DarkRegular{
    font-family : 'Rubik', sans-serif; 
    font-weight: 300; 
    color: #ffffff;
}


.DarkTitle{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.3440rem;
    font-family: 'Satisfy' , cursive;
    color: #FD6543;    
    text-shadow: 0px 0px #000000, -2px -1px #000000;
}

.DarkTitleSubtitle{
    font-family : 'Satisfy', cursive;
    color: #ffc445;        

    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px #000000, -2px -1px #000000;
    transition: 1s;
}

.DarkTitleSubtitleVar{
    font-family : 'Satisfy', cursive;
    color: aliceblue;
    font-size: 2.0900rem;    

    display: flex;
    justify-content: center;    
}

.btnLoginDark{
    display: flex;
    background-color: #2e3035;    
    color: #FFFFFF;    
    border: none;
    padding: 0.5852rem;
    font-size: 1.6720rem;
    border-radius: 4.1800rem;
    transition: 0.5s;
}

.custom-tabsDark{
    margin: 0.8360rem;
    gap: 0.4180rem;    
}


.custom-tabs .nav-pills .nav-link {        
    color: #ffffff;    
}

.custom-tabsDark .nav-link.active{
    background-color: #ff5732;
    color: white;
}

.custom-tabsDark .nav-link:hover{    
    color: #f7bbad;
}

.DarkBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 100%;     
    margin-bottom: 1.2540rem;
        
    background-image: url('/assets/img/bannerDark.png');
    background-size: cover;
    transition: 1s;
}

