@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&family=Satisfy&display=swap');

/* Resetar CSS */
*{
    margin: 0;
    padding: 0;        
    font-weight: 400;    

    transition: 0.1s;    
}

/* Corpo e Fontes */
body{    
    background-color: #cdcdcd;  
    height: 100%;
    
    background-image: url(/assets/img/bgPattern.png);
    background-size: 20%;    
}

.title {
    font-family: 'Satisfy' , cursive;
    color: #FD6543;

    text-shadow: 0px 0px #000000, -2px -1px #000000;
}

.TitleSubtitle {
    font-family : 'Satisfy', cursive;      

    color: #FFFFFF;    
    text-shadow: 0px 0px #000000, -2px -0.5px #000000;
    transition: 1s;
}

.TitleSubtitleVar{
    font-family: 'Satisfy', cursive; 
    font-size: 25pt;
}

.subtitle {
    font-family : 'Rubik', sans-serif;
    font-weight: 500;
    color: #0D0D13;
}

.txt {
    font-family : 'Rubik', sans-serif;        
    font-weight: 300;
    color: #0D0D13;    
}

.regular {
    font-family : 'Rubik', sans-serif; 
    font-weight: 300; 
    color: #1A1B1C;    
}

.enfatize{
    font-family : 'Rubik', sans-serif;  
    font-weight: 500;
    color: #FD6543;
}

.btnLogin{
    display: flex;            
    background-color: #FD6543;    
    color: #FFFFFF;    
    border: none;
    padding: 7pt;
    font-size: 20pt;
    border-radius: 50pt;
    transition: 0.5s;
}

.btnLogin:hover{
    background-color: #FF7F50;    
    color: #ffffff;    
    border: none;
    border-radius: 50pt;

    scale: 1.2;
}

.btnLoginV2 {
    display: flex;      
    background-color: #FD6543;    
    color: #FFFFFF;    
    border: 1px black;
    padding: 7pt;
    font-size: 15pt;    
    transition: 0.5s;    
}

.btnLoginV2:hover{
    background-color: #FF7F50;    
    color: #0D0D13;    
    border: none;    
}


ol#container{
    list-style: none;
}

/* Configuração Global para ancoras */
a{
    text-decoration: none;    
}

Link {
    text-decoration: none;
}
