/* Small Devices - Little Smartphones */
@media (min-width: 375px) {
        /* Home */

    .NavTabs{
        display: flex;
        justify-content: center;

        transition: 0.5s;
    }

        /* Receita */
    .receitaSection{
        display: flex;
        flex-direction: column;        
        align-items: center;         
    }

    .receitaDetailsBlank{
        display: flex;     
        flex-direction: column;   
        justify-content: center;    
        align-items: center;            
        padding-bottom: 0.4180rem;        
        margin-top: -0.4180rem;
        margin-right: -2.0900rem;
    }

    .ConfirmButtonDark{
        color: green;
        font-size: 15pt;
        margin-top: -2pt;
        transition: 0.5s;

    }

    .ConfirmButtonDark:hover{
        color: #00FF00;
        cursor: pointer;
    }



    /* Receita Gallery */
    #recipesList{
        display: flex;        
        justify-content: center;
        align-items: center;        
    }

    #receitaBorder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;        
    }



    /* Banner */
    .container-culinary{
        scale: 0.67;        
    }

    .container-culinary h1{
        margin-top: -1.2540rem;
    }
 
}

/* Extra Large Devices - Big Monitors */
@media (min-width: 1200px) {

    /* NavTabs Index */
    .NavTabs{
        display: flex;
        background-color: #ffffff;
        justify-content: start;
        transition: 0.5s;
        
        
        height: 3.7620rem;
        margin-top: -1.4212rem;
        margin-bottom: 1.2540rem;

        border-radius: 0pt 0pt 5pt 5pt;
    }

        /* Receita */
    .RecipeMain{
        margin-bottom: 80pt;
    }

    .receitaSection{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;        
        width: fit-content;        
        margin-left: 25%;        
    }

    .receitaSection article{
        margin: 2%;
    }

    .receitaDetailsBlank{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 50pt;
        
        
        margin-top: -25pt;
        margin-bottom: 25pt;
        border-radius: 15pt;
    }



    /* RecipeGallery */
        #recipesList{
        display: flex;
        justify-content: center;
        align-items: center;   
        margin-bottom: 20pt; 
    }

    #receitaBorder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;        
    }

    /* Banner */
    .container-culinary{
        scale: 1;        
    }

    .container-culinary h1{
        margin-top: -1.2540rem;
    }
}
