/* Small Devices - Little Smartphones */
@media (min-width: 375px) {
        /* Home */
    #homeSection{
        display:flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center; 
        width: 100%;
        height: 100%;        
    }
    .subtitlesDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        user-select: none;    
        
        margin-left: 0rem;
    }

    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .NavTabs{
        display: flex;
        justify-content: center;

        transition: 0.5s;
    }



        /* Receita */
    #receitaDetails{
        display: flex;
        flex-direction: column;    
    }


    /* Banner */
    .container-culinary{
        scale: 0.67;        
    }

    .container-culinary h1{
        margin-top: -15pt;
    }
 
}

/* Medium Devices - Smartphones */
@media (min-width: 768px) {}

/* Large Devices - Laptops */
@media (min-width: 992px) {}

/* Extra Large Devices - Big Monitors */
@media (min-width: 1200px) {
            /* Home */
    .subtitlesDiv{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        user-select: none;    
        margin-left: 15.8840rem;        
    }

    #container{
        display: flex;
        flex-direction: row;
        align-items: center;            
    }

    .NavTabs{
        display: flex;
        background-color: #ffffff;
        justify-content: start;
        transition: 0.5s;
        
        
        height: 45pt;
        margin-top: -17pt;
        margin-bottom: 15pt;

        border-radius: 0pt 0pt 5pt 5pt;
    }

        /* Receita */
    #receitaDetails{
        display: flex;
        flex-direction: row;
    }

        .container-culinary{
        scale: 1;        
    }

    .container-culinary h1{
        margin-top: -15pt;
    }
}

/* Extra Extra Large Devices - FullHD Monitors*/
@media (min-width: 1400px) {}