/* Small Devices - Little Smartphones */
@media (min-width: 375px) {
        /* Home */
    #homeSection{
        display:flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center; 
        width: 100%;
        height: 100%;        
    }
    .subtitlesDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        user-select: none;    
        
        margin-left: 0rem;
    }

    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        /* Receita */
    #receitaDetails{
        display: flex;
        flex-direction: column;    
    }
}

/* Medium Devices - Smartphones */
@media (min-width: 768px) {}

/* Large Devices - Laptops */
@media (min-width: 992px) {}

/* Extra Large Devices - Big Monitors */
@media (min-width: 1200px) {
            /* Home */
    .subtitlesDiv{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        user-select: none;    
        margin-left: 15.8840rem;        
    }

    #container{
        display: flex;
        flex-direction: row;
        align-items: center;            
    }

        /* Receita */
    #receitaDetails{
        display: flex;
        flex-direction: row;
    }
}

/* Extra Extra Large Devices - FullHD Monitors*/
@media (min-width: 1400px) {}